#!/bin/bash
{%- for arg_name, arg_value in slurm_args.items() %}
#SBATCH --{{ arg_name }}={{ arg_value }}
{%- endfor %}
#SBATCH --array=0-{{ len(script_configs) - 1 }}
#SBATCH --output=/dev/null

PROJECT_NAME={{ project_name }}
EXPERIMENT_NAME={{ experiment_name }}
SUBEXPERIMENT_NAME={{ subexperiment_name }}

CONFIG_NAMES=(
{%- for config_name in script_config_names %}
    "{{ config_name }}"
{%- endfor %}
)
CONFIG_NAME={% raw %}${CONFIG_NAMES[$SLURM_ARRAY_TASK_ID]}{% endraw %}

{{ run_before.strip() }}

logdir=runs/$SUBEXPERIMENT_NAME/$CONFIG_NAME

if [ -d "$logdir" ]; then
    suffix=$(cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 5 | head -n 1)
    logdir=$logdir-$suffix
fi

mkdir -p $logdir

logfile=$logdir/out.log

echo "SLURM_JOB_ID: $SLURM_JOB_ID" >> $logfile
echo "SLURM_ARRAY_TASK_ID: $SLURM_ARRAY_TASK_ID" >> $logfile

{{ env.strip() }}

{{ run_before_task.strip() }}

CONFIGS=(
{%- for config in script_configs %}
    "{{ repr(config)[1:-1] }}"
{%- endfor %}
)
COMMAND="{{ script }} {% raw %}${CONFIGS[$SLURM_ARRAY_TASK_ID]}{% endraw %}"

echo "Running $COMMAND" >> $logfile

eval $COMMAND &>> $logfile

{{ run_after_task.strip() }}